#experiences {
  display: flex;
  flex-direction: column;
  gap: 40px;
  > li {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.experienceCard {
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  interpolate-size: allow-keywords;
  position: relative;

  .expandButton {
    position: absolute;
    height: 30px;
    min-width: 30px;
    transform: translate(-50%);
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .top {
    display: flex;
    flex-direction: row;
    .titleDiv {
      text-align: left;
      flex: 3;
      .title {
        margin: 0px;
        font-size: 20px;
      }
      .subTitle {
        margin: 0;
        margin-top: 5px;
        font-size: 15px;
        color: #555555;
      }
    }
    .right {
      flex: 2;
      text-align: right;
    }
  }
  .bottom {
    position: relative;

    .grower {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.6s ease;
    }

    .description {
      display: block;
      text-align: left;
      height: 0;
      overflow: hidden;
      white-space: pre-line;
      font-size: 18px;
    }
  }
}

.experienceCard:hover {
  .expandButton {
    opacity: 1;
  }
}

.experienceCard:focus {
  .grower {
    grid-template-rows: 1fr;
  }

  .description {
    margin-top: 10px;
    height: unset;
  }

  .expandButton {
    transform: rotate(180deg) translate(50%);
  }
}
