.techStack {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    /* display: flex; */
    height: 50px;
    min-width: 50px;
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: 30px; */
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;

    .wrapper {
      display: flex;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      box-shadow: var(--shadow);
      background-color: rgb(220, 220, 220, 0.5);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 10px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    p {
      color: transparent;
      overflow: hidden;
      white-space: nowrap; /* Keep text from wrapping during grow */
      font-size: 15px;
    }
    .grower {
      display: grid;
      grid-template-columns: 0fr;
      transition: grid-template-columns 0.6s ease;
      overflow: hidden;
    }
  }
  li:hover {
    .wrapper {
      border: solid var(--accent-border) 2px;
    }
    .grower {
      grid-template-columns: 1fr;
      p {
        padding: 0 10px 0 5px;
        color: var(--text);
      }
    }
  }
}
