.testimonial_carousel {
  display: flex;
  overflow: hidden;
  width: 100%;

  &:hover .testimonials,
  &:focus-within .testimonials {
    animation-play-state: paused;
  }

}

ul.testimonials {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin: 0;
  padding-left: 10vw;
  flex-shrink: 0;
  will-change: transform;
  animation: scroll 10s linear infinite;
  box-sizing: border-box;

  li.testimonial {
    flex-shrink: 0;
    grid-area: layer; /* Forces all children into that exact same space */
    justify-self: start; /* Aligns them all to the same left side */
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45vw;
    min-width: 15vw;
    text-align: center;
    padding: 5px;
    /* animation: carouselAnimation 9s linear 0.0s infinite normal forwards; */
    /* animation-delay: calc(var(--i) * -2s); */

    h3 {
      font-size: 18px;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
